@using BknDto.Dto
@model IEnumerable<RealEstateObjectDto>

@{
    ViewBag.Title = "Export";
}
<h2>@ViewBag.Title.</h2>
<h3>Файлы для экспорта на порталы обновлены.</h3>

<p>
  <b>- konfan.by</b> (@Model.Where(p => p.Confan == true).ToList().Count)</p>
<p>
  <b>- realt.by</b> (@Model.Where(p => p.Realt == true).ToList().Count)
</p>
<p>
  <b>- onliner.by</b> (@Model.Where(p => p.Onliner == true).ToList().Count)
</p>




