@{
    ViewBag.Title = "Home Page";
}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Имя объекта</th>
        <th scope="col">Твоя столица</th>
        <th scope="col">Конфан</th>
        <th scope="col">realt.by</th>
        <th scope="col">onliner.by</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><a href="#">Объект 1</a></td>
        <td><input type="checkbox" value="1" checked="checked"></td>
        <td><input type="checkbox" value="1" checked="checked"></td>
        <td><input type="checkbox" value="1" checked="checked"></td>
        <td><input type="checkbox" value="1"></td>
    </tr>
        <tr>
            <td><a href="#">Объект 2</a></td>
            <td><input type="checkbox" value="1" checked="checked"></td>
            <td><input type="checkbox" value="1" checked="checked"></td>
            <td><input type="checkbox" value="1" checked="checked"></td>
            <td><input type="checkbox" value="1"></td>
        </tr>
        <tr>
            <td><a href="#">Объект 3</a></td>
            <td><input type="checkbox" value="1" checked="checked"></td>
            <td><input type="checkbox" value="1" checked="checked"></td>
            <td><input type="checkbox" value="1" checked="checked"></td>
            <td><input type="checkbox" value="1"></td>
        </tr>
    </tbody>
</table>