@using BknDto.Dto
@model IEnumerable<RealEstateObjectDto>

@{
    ViewBag.Title = "Главная страница";
}

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Имя объекта</th>
        <th scope="col">Твоя столица</th>
        <th scope="col">Конфан</th>
        <th scope="col">realt.by</th>
        <th scope="col">onliner.by</th>
    </tr>
    </thead>
    <tbody id="myTable">
    @foreach (var item in Model)
    {
      <tr>
        <td><a href="#">@item.Address</a></td>
        <td><span class="search-checkbox  icon icon-ok"></span></td>
        <td><span class="search-checkbox  icon icon-ok"></span></td>
        <td><span class="search-checkbox  icon icon-ok"></span></td>
        <td><span class="search-checkbox  icon icon-ok"></span></td>
      </tr>
    }
    </tbody>
</table>

<div class="col-md-12 text-center paginator">
  <ul class="pagination pagination-large" id="myPager"></ul>
</div>
